@font-face {
  font-family: RobotoLight;
  src:  url('../src/Fonts/Roboto/Roboto-Light.ttf');
}
@font-face {
  font-family: RobotoBold;
  src:  url('../src/Fonts/Roboto/Roboto-Bold.ttf');
}
@font-face {
  font-family: MoonLight;
  src:  url('../src/Fonts/Moon/Moon-Light.otf');
}
@font-face {
  font-family: RobotoRegular;
  src:  url('../src/Fonts/Roboto/Roboto-Regular.ttf');
}
@import url("./Dropdown.css");
/* Let's get this party started */

body {
  background-color: #F5F8F7;
  justify-content: center;
  display: flex;
  height: 100vh;
  margin-top: 150px;
  color: grey;
  font-family: RobotoLight;
  background-image: linear-gradient(45deg, rgb(65, 88, 208), rgb(200, 80, 192));
}

input[type=text]{
  width:100%;
  border:0;
  border-bottom: 1px solid #AAAAAA;
  margin:8px 0;
  outline:none;
  box-sizing:border-box;
  transition:.3s;
  color: grey;
  font-size: 16px;
  font-family: RobotoLight;
}
#mainApp{
  width: 900px;
  overflow: auto;
}  
#mainApp::-webkit-scrollbar {
    width: 8px;
} 
#mainApp::-webkit-scrollbar-track {
    background-color: var(--scroll-color);
    border-radius: 5px;
    background: linear-gradient(to right, var(--scroll-track-color) 0%, var(--scroll-track-color) 30%, var(--scroll-color) 60%, var(--body-bg-color) 61%, var(--body-bg-color) 100%);
} 
#mainApp::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.CaseyGrid{
  display: table;
  background-color:#f5f5f5;  
  height:90wh;
  border: 1px solid black;
}
.CaseyGrid .headerRow{
  background-color:#36304a;
  color:#fff;
  display: table-header-group;
}
.tableCellContainer{
  text-align: center;
  padding: 0 5px;
  display: table-cell;
}
.tableCellContainer div{
  text-align: center;
}
.dataRow{
  padding:10px;
}
.gridCheckbox{
  padding:10px;
}
.headerCellContainer{
  display:table-cell;
  padding: 5px 0;
}
.firstHeaderCell{
  display: inline-block;
  padding-left: 30%;
  width: 100%;
}
.headerCell{
  font-size: 20px;
  font-family:RobotoRegular ;
  text-align: center;
  padding: 0 10px 0 10px;
  white-space: nowrap;
}
.lastHeaderCell{
  padding-right: 15px;
  display: inline-block;
  width: 100%;
  font-size: 20px;
}
#mainApp > .CaseyGrid{
  max-width: 900px;
  min-width: 900px;
  width: 900px;
}
.CaseyGrid .dataRow:nth-child(even)  {
  background:#fff;
}
.rowSelected{
  color: #FFFFFF;
  background: #ADADAD !important;
}
.rowSelected .dropdown-body.open{
  color: #FFFFFF;
  background: #ADADAD !important;
}
.rowSelected .dataRow{
  background: #ADADAD !important;
}
.rowSelected .dropdown-header i{
  color: #00BFFF;
}
.rowSelected .rowSelected{
  color: #FFFFFF;
  background: #757575 !important;
}
.rowSelected .tableCellContainer input[type=text]{
  color: #FFFFFF;
  background: #ADADAD !important;
  border-bottom: 1px solid #FFFFFF;
}
.secondaryContainer {
  display: table-cell;
}
.secondaryContainer .CaseyGrid{
  visibility: hidden;
  opacity: 0;
}
.secondaryGrid{
  position: absolute;
  z-index: 99;
  background: white;
}
.secondaryGrid .CaseyGrid{
  visibility: visible;
  opacity: 1; 
  transition: visibility 0s, opacity 0.5s linear;
  -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}
.secondaryGrid .gridCheckbox{
  padding: 0px;
}

.stickyCell{
  position: sticky;
  background-color: inherit;
  left: 0;
}