.dropdown {
    border-radius: 10px;
    position:relative;
  }
  
  .dropdown-header {
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .dropdown-body {
    padding: 5px;
    border-top: 1px solid #E5E8EC;
    display: none;
  }
  
  .dropdown-body.open {
    display: block;
    position: absolute;
    z-index:99;
    width: auto;
    background-color: white;
    top: 95%;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
  }
  
  .dropdown-item {
    padding: 10px;
    text-align: left !important;
    white-space: nowrap;
  }
  
  .dropdown-item:hover {
    cursor: pointer;
  }
  
  .dropdown-item-dot {
    opacity: 0;
    color: #91A5BE;
    transition: all .2s ease-in-out;
  }
  
  .dropdown-item-dot.selected {
    opacity: 1;
  }
  
  .icon {
    font-size: 13px;
    color: #91A5BE;
    transform: rotate(0deg);
    transition: all .2s ease-in-out;
    padding-right: 20px;
  }
  
  .icon.open {
    transform: rotate(90deg);
    padding: 0;
  }